<style>
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


    </style>


<a href="http://coord.info/GC75FHQ" target=ISBN"_blank"> <img style="float:left;" src="http://mega.laaguela.es/wp-content/uploads/2018/04/MegaLaAguelaAttended.gif" height="150" width: 300px;></a>


<!-- Lok@s por los desafios -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img  style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/locosporlosdesafios.jpg" height=200 title="Recibido por participar en los Geodesafíos mensuales" /></a></center></div>

<div style="clear:both"></div>

</br>
</br>
<p> 2018</p>
</br>

<!-- Travelcacher JUNIO 18 -->
<div class="zoom" style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/tc_ibonito.jpg" height=200 title="Recibido por superar el desafío del mes de Junio 2018" /></a></center></div>

<!-- Grandes Olvidados JULIO 18 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/go_ibonito.jpg" height=200 title="Recibido por superar el desafío del mes de Julio 2018" /></a></center></div>

<!-- Criaturas Agazapás JULIO 18 -->
<div style="float:left;margin-top:5px;"><center><a href="https://www.geoibonito.com/banners/geodesafios/criaturas_agazapas.jpg"><img style="  height: 150px; width:267px;" src="https://www.geoibonito.com/banners/geodesafios/criaturas_agazapas.jpg" height=200 title="Recibido por superar el desafío del mes de Julio 2018" /></a></center></div>

<!-- Patos AGOSTO 18 -->
<div style="float:left;margin-left:5px;margin-top:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/patos_ibonito.jpg" height=200 title="Recibido por superar el desafío del mes de Agosto 2018" /></a></center></div>

<!-- ESPACIAL 18 -->
<div style="float:left;margin-left:5px;margin-top:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/espacial.jpg" height=200 title="Recibido por superar el desafío espacial 2018" /></a></center></div>

<div style="clear:both"></div>

</br>
</br>
<p> 2019</p>
</br>

<!-- ENERO 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/31_Enero2019_ibonito.jpg" height=200 title="Recibido por superar el desafío enero 2019" /></a></center></div>

<!-- SAN VALENTÍN 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/33_San_Vanlentin_ibonito.jpg" height=200 title="Recibido por superar el desafío San Valentin 2019" /></a></center></div>

<!-- Febrero 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/32_Febrero_ibonito.jpg" height=200 title="Recibido por superar el desafío Febrero 2019" /></a></center></div>


<!-- Verano 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/Ibonito_verano_19.jpg" height=200 title="Recibido por superar el desafío Verano 2019" /></a></center></div>


<!-- Septiembre 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/39_Septiembre2019_ibonito.jpg" height=200 title="Recibido por superar el desafío Septiembre 2019" /></a></center></div>


<!-- Octubre 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/40_octubre_ibonito.jpg" height=200 title="Recibido por superar el desafío Octubre 2019" /></a></center></div>

<!-- Noviembre 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/41_Noviembre_ibonito copy.jpg" height=200 title="Recibido por superar el desafío Noviembre 2019" /></a></center></div>


<!-- Diciembre 19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/42_diciembre_ibonito.jpg" height=200 title="Recibido por superar el desafío Diciembre 2019" /></a></center></div>
<div style="clear:both"></div>



</br>
</br>
<p> 2020</p>
</br>
<!-- Enero 2020 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/ibonito_Mesa de trabajo 1.jpg" height=200 title="Recibido por superar el desafío Enero 2020" /></a></center></div>


<!-- Febrero 20 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/Ibonito_Geodesafios.jpg" height=200 title="Recibido por superar el desafío Febrero 2020" /></a></center></div>

<div style="clear:both"></div>
</br>
</br>
<p> Varios</p>
</br>

<!-- Ibonito_colaborativo_19 -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/Ibonito_colaborativo_19.jpg" height=200 title="Recibido por superar el desafío Ibonito_colaborativo_19" /></a></center></div>


<!-- POLIGLOTE_GC21X2B -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/POLIGLOTE_GC21X2B.jpg" height=200 title="Recibido por superar el   POLIGLOTE_GC21X2B" /></a></center></div>


<!-- PARIS_GC728BR -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/PARIS_GC728BR.jpg" height=200 title="Recibido por superar el  PARIS_GC728BR" /></a></center></div>

<!-- paris_GCD0PJ -->
<div style="float:left;margin-left:5px;"><center><a href="https://www.facebook.com/groups/geodesafios"><img style="width: 150px;  height: 150px;" src="https://www.geoibonito.com/banners/geodesafios/paris_GCD0PJ.jpg" height=200 title="Recibido por superar el  paris_GCD0PJ" /></a></center></div>



<div style="clear:both"></div>

</br></br></br></br></br>



<!-- Provincias españolas -->
<div style="float:left;margin-left:5px;align:center;margin-left:85px;margin-top:40px;">
<center style="font-weight:bold">Comunidades autónomas en las que tengo cachés encontrados (<a href="https://www.geocaching.com/p/default.aspx?guid=2a44ec97-0f6c-458e-96a1-2a04cdb2ba3d"> By Jaumet</a>)</center>
</div>
<div style="float:left;">
<p>

<a href="https://www.geoibonito.com/banners/geodesafios/Catalunya.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Catalunya.jpg" title="Souvenir Catalunya" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Madrid.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Madrid.jpg" title="Souvenir Comunidad de Madrid" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Andalucia.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Andalucia.jpg" title="Souvenir Andalucía" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/CMancha.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/CMancha.jpg" title="Souvenir Castilla-La Mancha" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Aragon.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Aragon.jpg" title="Souvenir Aragón" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Galicia.jpg" style="filter: grayscale(1);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Galicia.jpg" title="Souvenir Galicia" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/CLeon.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/CLeon.jpg" title="Souvenir Castilla y León" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Extremadura.jpg" style="filter: grayscale(1);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Extremadura.jpg" title="Souvenir Extremadura" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Valencia.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Valencia.jpg" title="Souvenir Comunitat Valenciana" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Murcia.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Murcia.jpg" title="Souvenir Murcia" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Asturias.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Asturias.jpg" title="Souvenir Asturias" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Navarra.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Navarra.jpg" title="Souvenir Navarra" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Canarias.jpg" style="filter: grayscale(1);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Canarias.jpg" title="Souvenir Canarias" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/PVasco.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/PVasco.jpg" title="Souvenir País Vasco" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Cantabria.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Cantabria.jpg" title="Souvenir Cantabria" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Rioja.jpg" style="filter: grayscale(0);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Rioja.jpg" title="Souvenir La Rioja" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Baleares.jpg" style="filter: grayscale(1);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Baleares.jpg" title="Souvenir Illes Balears" alt="" /></a>

<a href="https://www.geoibonito.com/banners/geodesafios/Ceuta.jpg" style="filter: grayscale(1);" target="_blank"><img border="0" src="https://www.geoibonito.com/banners/geodesafios/Ceuta.jpg" title="Souvenir Ceuta y Melilla" alt="" /></a>
</p>
</div>
</br></br></br></br></br>

<!-- Y tú, ¿a qué jugabas?...
<div style="width:100%;margin-left:5px;"><center><a href="#"><img style="width: 100%;  height: auto;" src="https://www.geoibonito.com/banners/geodesafios/ytuaquejugabas/ibonito.png"  title="Premio por acabar la serie << Y tú, ¿a qué jugabas?...>>" /></a></center></div> 
 -->

<!-- Project-gc -->
<a href="https://project-gc.com/ProfileStats/Ibonito" target="_blank"><img src="https://cdn2.project-gc.com/ProfileStatsImage/Ibonito" width="750